body {
    font-family: "Inter", sans-serif;
    background: #f3f6f9;
    margin: 0;
    padding: 20px;
}

.profiles-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    gap: 30px;
    justify-content: center;
}

@media (max-width: 768px) {
    .profiles-container {
        grid-template-columns: 1fr;
    }
}

.profile-card {
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    border-radius: var(--bs-border-radius-xl) !important;
    box-shadow: var(--bs-box-shadow-sm) !important;
    position: relative;
    display: flex;
    flex-direction: column;
}

.profile-card .name {
    color: #fff;
    margin-bottom: 0.8rem;
    text-transform: capitalize;
    font-size: 1.4rem;
}

.profile-card .card-body {
    flex: 1 1 auto;
    padding: 1rem;
}

.profile-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.profile-photo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f8f9fa;
    transition: opacity 0.3s ease;
    border: solid 6px rgb(162, 153, 248);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.profile-photo:not([src*="placeholder"]) {
    cursor: pointer;
}

.profile-photo:not([src*="placeholder"]):hover {
    opacity: 0.8;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(162, 153, 248, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(162, 153, 248, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(162, 153, 248, 0);
    }
}

.baseprice {
    position: absolute;
    top: 10px;
    left: 20px;
    background: rgba(97, 97, 97, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(107, 107, 107, 0.3);
    padding: 2px 15px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--bs-dark);
}

.experience {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--bs-dark);
}

.profile-name {
    padding: 28px 15px 10px 15px;
    margin-top: -120px;
    position: relative;
}

.profile-badge {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 12px;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.designation {
    font-size: 0.95rem;
    color: #555;
    font-weight: 500;
    margin-bottom: 0.15rem;
    text-transform: capitalize;
}

.email {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.form-select:focus,
.form-control:focus,
.form-select,
.form-control {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.85em;
    box-shadow: none;
}

.other-details {
    margin-bottom: 1rem;
}

.other-details i {
    background-color: #eee;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 0.375rem;
    font-size: 0.85rem;
}

.label {
    font-size: 0.75rem;
    color: var(--bs-secondary);
}

.data {
    font-size: 0.85rem;
    color: var(--bs-dark);
    font-weight: 600;
}

.preferred {
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 0.375rem;
}

.landscape {
    background-image: url('images/landscape.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#developer .card {
    border-radius: 15px;
    color: #fff;
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

#developer .dev-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#developer .photo {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 23px;
    /* Border thickness */
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.5), #ff990088, #0062ff82, #ff00ff7b);
    background-size: 300% 300%;
    animation: gradientMove 4s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* Center in parent */
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#developer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
}

#developer h1 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 4rem;
    color: var(--bs-pink);
    text-transform: capitalize;
}

#developer h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#developer .badge {
    font-size: 1.2rem;
    border-radius: 30px;
}

#developer .dev-card-section {
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px 15px;
    border-radius: 12px;
}

#developer .dev-label {
    font-size: 0.95rem;
    font-weight: 300;
    margin-bottom: 0.1rem;
    color: var(--bs-warning);
}

#developer .dev-skills {
    font-size: 1.2rem;
    font-weight: 400;
}

.navigation-buttons {
    position: absolute;
    bottom: 15px;
    width: 100px;
    height: 50px;
    left: 45%;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.navigation-buttons .carousel-control-next,
.navigation-buttons .carousel-control-prev {
    width: 50px;
}

.ai-analysis {
    background-image: url('images/ai-analysis.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 10px;
}

.ai-analysis .team-size {
    font-size: 1.45rem;
    font-weight: 600;
}

.ai-analysis .nav-pills .nav-link {
    padding: 10px;
    font-size: 0.85rem;
    color: #858585;
    border-bottom: solid 3px transparent;
    border-radius: 0;
}

.ai-analysis .nav-pills .nav-link.active {
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    border-bottom: solid 3px var(--bs-info);
}

.ai-analysis .list-group-item {
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(20, 20, 20, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #fff;
}

.ai-analysis .card.main-card {
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(20, 20, 20, 0.75);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    color: #fff;
}

.ai-analysis .card.card-section {
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    color: #fff;
}

.ai-analysis .card.card-section .card-body {
    line-height: 1.8rem;
    font-size: 0.95rem;
}

.ai-analysis .member-name {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--bs-info);
}

.ai-analysis .member-role {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--bs-white);
}

.ai-analysis .member-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}



.time-meeting-schedule {
    background-image: url('images/ai-analysis.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 10px;
    font-size: 0.85rem;
}

.time-meeting-schedule .card {
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(20, 20, 20, 0.75);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px 15px;
    border-radius: 12px;
    color: #fff;
}

.time-meeting-schedule .card-height {
    height: calc(100vh - 110px);
    overflow-y: auto;
}

.time-meeting-schedule ol li {
    margin-bottom: 0.5rem;
}

.time-meeting-schedule .table th,
.time-meeting-schedule .table td {
    background-color: transparent;
    color: #fff;
    font-weight: 600;
}

.time-meeting-schedule .table td.team1 {
    color: #62a2ff;
}

.time-meeting-schedule .table td.team2 {
    color: #a56eff;
}

.time-meeting-schedule .table td.team3 {
    color: #ff78f0;
}

.time-meeting-schedule .table td.team4 {
    color: #8eff52;
}

.time-meeting-schedule .table td.team5 {
    color: #dc3545;
}

.time-meeting-schedule .table td.team6 {
    color: #fd7e14;
}

.time-meeting-schedule .table td.team7 {
    color: #ffc107;
}

.time-meeting-schedule .table td.team8 {
    color: #fffb6e;
}

.time-meeting-schedule .table td.team9 {
    color: #20c997;
}

.time-meeting-schedule .table td.team10 {
    color: #0dcaf0;
}

.time-meeting-schedule .table td.team11 {
    color: #9dc4e7;
}

.time-meeting-schedule .table td.team12 {
    color: #ffc107;
}

.time-meeting-schedule .table td.team13 {
    color: #dc3545;
}

.scrollbar {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overscroll-behavior: contain;
    scrollbar-color: #989ea6 transparent;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
}

.scrollbar:hover::-webkit-scrollbar,
.scrollbar:hover::-webkit-scrollbar-thumb,
.scrollbar:hover:focus::-webkit-scrollbar,
.scrollbar:hover:focus::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: transparent;
    height: 0.375rem;
    visibility: hidden;
    width: 0.375rem;
}

.scrollbar::-webkit-scrollbar-button,
.scrollbar::-webkit-scrollbar-corner {
    display: none;
}

.scrollbar::-webkit-scrollbar-button,
.scrollbar::-webkit-scrollbar-corner {
    display: none;
}

.scrollbar:hover::-webkit-scrollbar,
.scrollbar:hover::-webkit-scrollbar-thumb,
.scrollbar:hover:focus::-webkit-scrollbar,
.scrollbar:hover:focus::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: hsla(214, 7%, 62%, .4);
    border-radius: 3px;
    visibility: hidden;
}